.container {
  height: 50%;
  width: 100%;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 3rem;
}

.container > h2 {
  text-align: center;
  color: #333;
  margin-top: 1.5rem;
  font-size: 32px;
}
